.container-tweet {	
	padding-top: 5px;
	padding-bottom: 2px;
	margin-top: 20px;
}

article.tweet-holder {
	opacity: 0.7;
	background-color: gray;
	border-radius: 5px;
	border-style: solid;
	margin-bottom: 30px;

}

article.tweet-holder:hover{ 
	opacity: 1;
}

.user-name {
	background-color: gray;
	border-bottom: 5px;
	float:left;
	font-size: 30px;
	height: 50px;
	margin-top: 10px;
	padding-left: 10px;
}

.tweet-cont-header {
	background-color: gray;
	border-bottom: 2px solid;
}

.tweet-cont-header:after {
	clear:both;
	content: ''; 
	display:block;
}

.separator {
	float: clear;
}

.at-picture {
	background-color: white;
	float: left;
	height: 50px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-top: 5px;
	width: 50px;
}

.at-picture img {
	height:50px;
	width:50px;
}

.at-name {
	float: right;
	padding-right: 10px;
}

.container-tweet h2 {
	background-color : gray;
	margin-top: 30px;
	padding-left: 10px;
}

.container-tweet div {
 background-color : white;
 font-size: 20px;
 padding-left: 10px;
 padding-top:10px;
 height:80px;
}

.container-tweet i {
	display:none;
	float:right;
	padding-left: 10px;
	padding-right: 5px;
}

.container-tweet:hover i {
	display: inline;
	float:right;
	padding-left: 10px;
	padding-right: 5px;
}

.container-tweet footer{
 background-color : gray;
 border-top: 2px solid;
 margin-top: 0px;
 padding-bottom: 0px;
 padding-left: 10px;
 padding-top: 2px;
}
}