.new-tweet {
	padding-top: 5px;
	padding-bottom: 10px;
	border-radius: 5px;
	border-style: solid;
	background-color: #D3D3D3;
	padding-left: 50px;
	padding-right: 50px;
}



.counter {
	float:right;
}

h1 { 
	border-bottom: 2px solid black;
}


textarea {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}